<h3 class="center-title">Here we are looking at a particular book</h3>
<h5>{{book.title}}</h5>
<h5>By: {{book.title}}</h5>
<h5>Genre: {{book.genre}}</h5>
<h5>Price: {{book.price}}</h5>
<p>Description: {{book.description}}</p>
